@import 'font-awesome.min.css';
html,
body {
  height: 100%;
}
body {
  font: 1em/1.45 Lato, Arial, sans-serif;
  font-weight: 300;
}
* {
  font-family: Lato, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
main {
  margin: 0 auto;
  max-width: 640px;
}
h1 {
  font-weight: 300;
  text-align: center;
}
a.cg-button,
input[type=text],
button {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 0;
  outline: 0;
}
a.cg-button[disabled],
input[type=text][disabled],
button[disabled] {
  cursor: not-allowed;
}
a.cg-button,
button {
  background: #27ae60;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  padding: 5px 10px;
  text-decoration: none;
  -webkit-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -o-transition: background 0.15s;
  -ms-transition: background 0.15s;
  transition: background 0.15s;
}
a.cg-button:not([disabled]):hover,
button:not([disabled]):hover {
  background: #1f8b4d;
}
a.cg-button[disabled],
button[disabled] {
  background: #2cc66d;
}
form {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin: 0 auto;
  max-width: 400px;
}
form input[type=text] {
  border: 1px solid #bdc3c7;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.875rem;
  padding: 5px;
}
form input[type=text][disabled] {
  background: #efefe5;
}
form button[type=submit] {
  margin-left: 5px;
}
figure {
  display: none;
  margin: 20px 0 0;
}
figure figcaption {
  margin-bottom: 10px;
  text-align: center;
}
figure img {
  display: block;
  height: auto;
  max-width: 100%;
}
